.slide {
  display: flex;
}

.carousel-item {
  position: relative;
}

.arrow {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 20px;
  background-color: rgb(129, 129, 129);
  text-align: center;
  border-radius: 10px;
}

.arrow-left {
  top: 50%;
  transform: translateY(-50%);
}

.arrow-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.indicator {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator-item {
  padding: 4px;
  margin: 0 2px;
  background-color: coral;
  width: 40px;
  height: 50px;
}

.hide {
  display: none;
}
